extends ../index

block content
  // Display error message if present
  if errorMessage
    .alert.alert-danger= errorMessage

  // Display title
  h1 All Animals

  

  // Iterate over each animal and display its details
  each animal in animals
    .card.mb-3
      .card-body
        // Display animal id
        h5.card-title= animal._id
        //Display animal zoo
        p.card-text= `ZOO: ${animal.zoo}`
        
        // Display scientific name
        p.card-text= `Scientific Name: ${animal.scientificName}`

         // Display common name
        p.card-text= `Common Name: ${animal.commonName}`
        
        
        // Display given name
        p.card-text= `Given Name: ${animal.givenName}`
        
        // Display gender
        p.card-text= `Gender: ${animal.gender}`
        
        // Display date of birth
        p.card-text= `Date of Birth: ${animal.dateOfBirth}`
        
        // Display age
        p.card-text= `Age: ${animal.age}`
        
        // Display transportability
        p.card-text= `Transportable: ${animal.isTransportable ? 'Yes' : 'No'}`
        
     
